{% extends "layout.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block main %}
<div class=class="login-container animate__animated animate__fadeIn">
    <div>
        <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
    </div>
    <h3 class="text-whitesmoke">Forgot Password?</h3>
    <p class="text-whitesmoke">Change your password.</p>
    <div class="container-content">
        <form action="/login" method="post" class="margin-t">
            <div class="form-group">
                <input type="email" name="email" autocomplete="off" class="form-control" placeholder="Enter your email"
                    required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="new_password" autocomplete="off"
                    placeholder="Enter new password" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confirm_password" autocomplete="off"
                    placeholder="Confirm your password" required>
            </div>
            <button type="submit" class="form-button button-l margin-b">Reset Password</button>

        </form>

    </div>
</div>
{% endblock %}